body {
  font-family: Helvetica;
}

.sidenav {
  text-align:center;
  height: 100%;
  width: 20%;
  min-width: 245px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:  #2196f3 ;
  overflow-x: hidden;
  padding: 20px 20px 50px 20px;
}

.sidenav h1 {
	color: #ffffff;
  font-size: 22px;
  margin: 0;
  padding-bottom: 10px;
}

.sidenav .effect-1 {
  position: relative;
  text-align: center;
  margin: auto;
  text-decoration: none;
  display: table;
  font-size: 18px;
  color: white;
}

.sidenav a:before, a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.effect-1 {
  padding-top: 10px;
}
.effect-1:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
}
.effect-1:hover:before {
  transform: scaleX(1);
}

.main {
  margin-left: max(290px, 25%);
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav h3 {
      font-size: 18px;
  }
}

.wrapper{
  display: inline-flex;
  height: 35px;
  width: calc(100% - 2px);
  align-items: center;
  justify-content: space-evenly;
  padding: 6px 0px 20px 0px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
}
.wrapper .option{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
  color: #0069d9;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  border:3px solid #0069d9;
  width: 8px;
  height: 8px;
  transform: scale(1.5);
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #fff;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #0069d9;
}
.box-1 {
	height: 70px;
	width: 100%; 
	display: flex;
  padding-bottom: 50px;
	justify-content: center;
	align-items: center;
}

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}
.btn-one {
	color: #fff;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1; 
	transform: scale(1, 1); 
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all 0.3s;
	background-color:rgba(10, 230, 28, .4)
}
.btn-one:hover::after {
	opacity: 0; 
	transform: scale(0.1, 1);
}

.range-slider {
  margin: 20px 0 40px 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #0069d9;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #fff;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #fff;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 27px;
  color: #0069d9;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #fff;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #fff;
  border-bottom: 7px solid transparent;
  content: "";
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.middle {
  top: 50%;
  left: calc(50% + 200px);
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
}
.barload {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
}
.barload1 {
  animation-delay: 0.1s;
}
.barload2 {
  animation-delay: 0.2s;
}
.barload3 {
  animation-delay: 0.3s;
}
.barload4 {
  animation-delay: 0.4s;
}
.barload5 {
  animation-delay: 0.5s;
}
.barload6 {
  animation-delay: 0.6s;
}
.barload7 {
  animation-delay: 0.7s;
}
.barload8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: ;
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
